// Core variables and mixins
@import "partials/variables";
@import "partials/mixins";

// Reset and dependencies
@import "partials/normalize";

// Core CSS
@import "partials/scaffolding";
@import "partials/grid";

// Utility classes
@import "partials/utilities";
@import "partials/responsive-utilities";

body {
  font-family: Roboto, sans-serif;
}

header {
  color: #fff;
  background-color: $coo-blue;
}